<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.amadana.dao.ArticleMapper">
    <resultMap type="com.amadana.entity.Article" id="articleMapper">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="author" property="author"/>
        <result column="createDate" property="createDate"/>
        <result column="updateDate" property="updateDate"/>
        <result column="article_url" property="article_url"/>
        <result column="content" property="content"/>
        <result column="status" property="status"/>
        <result column="coverName" property="imgName"/>
        <result column="coverImg" property="coverImg"/>
        <result column="coverTitle" property="coverTitle"/>
        <result column="coverDesc" property="coverDesc"/>
    </resultMap>
    <insert id="saveArticle" parameterType="com.amadana.entity.Article" useGeneratedKeys="true" >
        insert into tb_article(title,author,createDate,updateDate,content,coverName,coverImg,coverTitle,coverDesc)
        values (#{title},#{author},now(),now(),#{content},#{imgName},#{coverImg},#{coverTitle},#{coverDesc})
    </insert>
    <select id="getArticleById" parameterType="int" resultMap="articleMapper">
        select title,author,     ,content from tb_article where id = #{id}
    </select>
    <select id="findAll" resultMap="articleMapper">
        select id,title,author,coverImg,updateDate from tb_article where status = 1
    </select>

    <select id="getArticleDetailById" parameterType="int" resultMap="articleMapper">
        select id,title,author,updateDate,content,coverName,coverImg,coverTitle,coverDesc from tb_article where id = #{id}
    </select>
    <!--<select id="findAll" resultMap="articleMapper">
        select id,title,author,createDate,updateDate,article_url,content,status from tb_article where status = 1
        order by createDate desc
    </select>    -->
    <update id="update" parameterType="com.amadana.entity.Article">
        update tb_article set
        <if test="title != null and title != ''">
            title = #{title},
        </if>
        <if test="author !=null and title != ''">
            author = #{author},
        </if>
        <if test="content != null and content != ''">
            content = #{content},
        </if>
        <if test="imgName != null and imgName != ''">
            coverName = #{imgName},
        </if>
        <if test="coverImg != null and coverImg != ''">
            coverImg = #{coverImg},
        </if>
        <if test="coverTitle != null and coverTitle != ''">
            coverTitle = #{coverTitle},
        </if>
        <if test="coverDesc != null and coverDesc != ''">
            coverDesc = #{coverDesc},
        </if>
        updateDate = now()
        where id = #{id}
    </update>
    <delete id="delete" parameterType="int">
        delete from tb_article where id = #{id}
    </delete>
<!--    获取文章列表-->
    <select id="getArticles" resultMap="articleMapper">
        select id,coverTitle,coverImg,coverDesc from tb_article where status = 1 and flag = 0 order by updateDate limit 6
    </select>
</mapper>
