<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.amadana.dao.BannerMapper">
    <resultMap type="com.amadana.entity.Banner" id="bannerMapper">
        <id column="id" property="id"/>
        <result column="image_name" property="bannerName"/>
        <result column="img_position" property="bannerPosition"/>
        <result column="img" property="bannerUrl"/>
        <result column="imgName" property="imgName"/>
        <result column="link_type" property="linkeType"/>
        <result column="jump_link" property="jumpLink"/>
        <result column="link_way" property="linkWay"/>
        <result column="img_order" property="order"/>
        <result column="createTime" property="createTime"/>
        <result column="updateTime" property="updateTime"/>
    </resultMap>
    <!-- 添加图片   -->
    <insert id="save" parameterType="com.amadana.entity.Banner" useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="int" order="AFTER" keyProperty="id">
            select LAST_INSERT_ID() AS id
        </selectKey>
        insert into tb_images(image_name,img_position,img,link_type,jump_link,link_way,img_order
        ,createTime)
        values(#{bannerName},#{bannerPosition},#{bannerUrl},#{linkeType},#{jumpLink}
        ,#{linkWay},#{order},now())
    </insert>
    <!--  图片分页  -->
    <select id="findAll" parameterType="int" resultMap="bannerMapper">
        select id,img_position,image_name,img,
         img_order from tb_images where status = 1 order by img_order
    </select>
    <!-- 最新版的图片分页  -->
    <select id="search" parameterType="map" resultMap="bannerMapper">
         select id,img_position,image_name,img,
         img_order from tb_images where status = 1
         <if test="position != null and position != ''">
            and img_position like '%${position}%'
         </if>
    </select>
    <!--    删除图片-->
    <delete id="delete" parameterType="int">
        delete from tb_images where id = #{id}
    </delete>

    <select id="searchByImgPosition" parameterType="java.lang.String" resultMap="bannerMapper">
        select id,img_position,image_name,
        img_order from tb_images where status = 1
        and img_position like '%${ImgPosition}%' order by img_order
    </select>
    <select id="findBannerById" parameterType="int" resultMap="bannerMapper">
        select id,img_position,image_name,img,imgName, link_type,jump_link,link_way,
        img_order from tb_images where id = #{id}
    </select>
    <!--  select id,img_position,image_name,img,imgName, link_type,jump_link,link_way,
        img_order from tb_images where status = 1  -->
    <update id="update" parameterType="com.amadana.entity.Banner">
        update tb_images set
        <if test="bannerName != null and bannerName != ''">
            image_name = #{bannerName} ,
        </if>
        <if test="bannerPosition != null and bannerPosition != ''">
            img_position = #{bannerPosition} ,
        </if>
        <if test="bannerUrl != null and bannerUrl != ''">
            img = #{bannerUrl} ,
        </if>
        <if test="imgName != null and imgName != ''">
            imgName = #{imgName},
        </if>
        <if test="linkeType != null and linkeType != ''">
            link_type = #{linkeType} ,
        </if>
        <if test="jumpLink != null and jumpLink != ''">
            jump_link = #{jumpLink} ,
        </if>
        <if test="linkWay != null and linkWay != ''">
            link_way = #{linkWay} ,
        </if>
        <if test="order != null and order != ''">
            img_order = #{order} ,
        </if>
        updateTime = now()
        where status = 1 and id = #{id}
    </update>

    <select id="getBanners" resultMap="bannerMapper">
        select id,img from tb_images where status = 1 order by updateTime desc limit 5
    </select>


</mapper>
