<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.amadana.dao.VideoMapper">
    <resultMap type="com.amadana.entity.Video" id="videoMapper">
        <id column="id" property="id"/>
        <result column="videoName" property="videoName"/>
        <result column="title" property="title"/>
        <result column="videoDesc" property="desc"/>
        <result column="videoImg" property="videoImg"/>
        <result column="videoCover" property="videoCover"/>
        <result column="videoPath" property="videoPath"/>
        <result column="status" property="status"/>
        <result column="createTime" property="createTime"/>
        <result column="updateTime" property="updateTime"/>
    </resultMap>
    <insert id="save" parameterType="com.amadana.entity.Video" useGeneratedKeys="true">
        insert into tb_video(videoName,title,videoDesc,videoImg,videoCover,videoPath,createTime)
        values (#{videoName},#{title},#{desc},#{videoImg},#{videoCover},#{videoPath},now())
    </insert>

    <select id="findAll" resultMap="videoMapper">
        select id,videoName,title,videoDesc,videoImg,videoCover,videoPath,createTime from tb_video where status = 1
    </select>

    <select id="getVideos" resultMap="videoMapper">
        select id,title,videoDesc,videoImg,videoPath from tb_video where status = 1 order by updateTime desc limit 3
    </select>

    <update id="update" parameterType="com.amadana.entity.Video">
        update tb_video set
        <if test="videoName != null and videoName != ''">
            videoName = #{videoName},
        </if>
        <if test="title != null and title != ''">
            title = #{title},
        </if>
        <if test="desc != null and desc != ''">
            videoDesc = #{desc},
        </if>
        <if test="videoImg != null and videoImg != ''">
            videoImg = #{videoImg},
        </if>
        <if test="videoCover != null and videoCover != ''">
            videoCover = #{videoCover},
        </if>
        <if test="videoPath != null and videoPath != ''">
            videoPath = #{videoPath},
        </if>
        updateTime = now()
        where id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        delete from tb_video  where id = #{id}
    </delete>

    <select id="getVideoById" parameterType="int" resultMap="videoMapper">
        select id,videoName,title,videoDesc,videoImg,videoCover,videoPath from tb_video where id = #{id}
    </select>
</mapper>
